<div class="page-wrapper">
  <header class="site-header header-transparent mo-left">
    <!-- Main Header -->
    <div class="sticky-header main-bar-wraper navbar-expand-lg">
      <div class="main-bar clearfix">
        <div class="container clearfix">
          <!-- Website Logo -->
          <div class="logo-header mostion logo-dark">
            <a href="index.html"
              ><img
                src="assets/images/logo.png"
                style="width: 100px"
                alt="logo"
            /></a>
          </div>
          <!-- Nav Toggle Button -->
          <button
            class="navbar-toggler collapsed navicon justify-content-end"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span></span>
            <span></span>
            <span></span>
          </button>
          <div
            class="header-nav navbar-collapse collapse justify-content-end"
            id="navbarNavDropdown"
          >
            <div class="logo-header">
              <a href="index.html"
                ><img src="assets/images/logo.png" alt=""
              /></a>
            </div>
            <ul class="nav navbar-nav navbar">
              <li class="active">
                <a href="javascript:void(0);"><span>Home</span></a>
              </li>
              <li>
                <a href="#contact"><span>Contact Us</span></a>
              </li>
            </ul>
            <div class="dlab-social-icon">
              <ul>
                <li>
                  <a class="fa fa-facebook" href="javascript:void(0);"></a>
                </li>
                <li>
                  <a class="fa fa-twitter" href="javascript:void(0);"></a>
                </li>
                <li>
                  <a class="fa fa-linkedin" href="javascript:void(0);"></a>
                </li>
                <li>
                  <a class="fa fa-instagram" href="javascript:void(0);"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Main Header End -->
  </header>
  <div class="page-content bg-white">
    <div
      class="banner-three bg-primary"
      style="
        background-image: url(assets/images/background/bg5.png),
          url(assets/images/background/bg6.png), var(--gradient-sec);
      "
    >
      <div class="container">
        <div class="banner-inner">
          <div class="row align-items-center">
            <div class="col-md-6">
              <div class="banner-content text-white">
                <h6
                  data-wow-delay="0.5s"
                  data-wow-duration="3s"
                  class="wow fadeInUp sub-title text-primary"
                >
                  Engage Content with SALES
                </h6>
                <h1
                  data-wow-delay="1s"
                  data-wow-duration="3s"
                  class="wow fadeInUp m-b20"
                >
                  India's 1st Live Commerce Platform
                </h1>
                <p
                  data-wow-delay="1.5s"
                  data-wow-duration="3s"
                  class="wow fadeInUp m-b30"
                >
                  Schedule a Product Demo with our team today!
                </p>
                <a
                  data-wow-delay="2s"
                  data-wow-duration="3s"
                  href="#contact"
                  class="wow fadeInUp btn btn-corner gradient btn-primary"
                  style="color: #fff"
                  >Let's Talk</a
                >
              </div>
            </div>
            <div class="col-md-6">
              <div
                class="dz-media wow fadeIn"
                data-wow-delay="1s"
                data-wow-duration="3s"
              >
                <img
                  src="assets/images/main-slider/slider3/pic1.png"
                  class="move-1"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="content-inner-2">
      <div class="container">
        <div class="section-head style-3 text-center">
          <h6 class="sub-title text-primary bgl-primary m-b15">OUR STEPS</h6>
          <h2 class="title">How It’s Work</h2>
        </div>
        <div
          class="row about-wraper-3 wow fadeIn"
          data-wow-duration="2s"
          data-wow-delay="0.2s"
        >
          <div class="col-md-4">
            <div class="icon-bx-wraper style-6 text-center m-b30 icon-up">
              <div class="icon-bx-lg radius bg-white">
                <a href="javascript:void(0);" class="icon-content text-primary">
                  <i class="flaticon-sketch"></i>
                </a>
              </div>
              <div class="icon-content">
                <h4 class="dlab-title m-b15">Monetize</h4>
                <p>
                  Monetize your content through Live Streaming, Call To Action
                  Button
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="icon-bx-wraper style-6 text-center m-b30 icon-up">
              <div class="icon-bx-lg radius bg-white">
                <a href="javascript:void(0);" class="icon-cell text-primary">
                  <i class="flaticon-vector"></i>
                </a>
              </div>
              <div class="icon-content">
                <h4 class="dlab-title m-b15">Category-based Brand</h4>
                <p>Create your own product based personalized shows.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="icon-bx-wraper style-6 text-center m-b30 icon-up">
              <div class="icon-bx-lg radius bg-white">
                <a href="javascript:void(0);" class="icon-cell text-primary">
                  <i class="flaticon-startup"></i>
                </a>
              </div>
              <div class="icon-content">
                <h4 class="dlab-title m-b15">Multi-Streaming</h4>
                <p>
                  Simultaneously connect with multiple platforms across globe:
                  Facebook, Instagram, Youtube, LinkedIn, Twitter, Periscope,
                  Twitch and much more.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="content-inner bg-gray">
      <div class="container">
        <div class="section-head style-3 text-center">
          <h2 class="title">Our Fetures</h2>
          <div class="dlab-separator style-2 bg-primary"></div>
        </div>
        <div class="row align-items-center about-wraper-2">
          <div class="col-lg-4">
            <div class="row">
              <div
                class="col-lg-12 col-md-6 wow fadeInUp"
                data-wow-duration="2s"
                data-wow-delay="0.2s"
              >
                <div class="icon-bx-wraper left m-b50 icon-up">
                  <div
                    class="icon-bx-sm radius gradient-sec shadow-primary m-b20"
                  >
                    <a href="javascript:void(0);" class="icon-cell text-white"
                      ><i class="flaticon-idea"></i
                    ></a>
                  </div>
                  <div class="icon-content">
                    <h4 class="dlab-tilte text-capitalize">Idea & Analysis</h4>
                    <p>
                      Praesent tincidunt congue est ut hendrerit. Pellentesque
                      et eros sit amet ipsum venenatis.
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="col-lg-12 col-md-6 wow fadeInUp"
                data-wow-duration="2s"
                data-wow-delay="0.4s"
              >
                <div class="icon-bx-wraper left m-b50 icon-up">
                  <div
                    class="icon-bx-sm radius gradient-sec shadow-primary m-b20"
                  >
                    <a href="javascript:void(0);" class="icon-cell text-white"
                      ><i class="flaticon-vector"></i
                    ></a>
                  </div>
                  <div class="icon-content">
                    <h4 class="dlab-tilte text-capitalize">Designing</h4>
                    <p>
                      Praesent tincidunt congue est ut hendrerit. Pellentesque
                      et eros sit amet ipsum venenatis.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-4 wow zoomIn"
            data-wow-duration="2s"
            data-wow-delay="0.2s"
          >
            <div class="dz-media text-center m-b30">
              <img src="assets/images/about/img7.png" class="move-1" alt="" />
            </div>
          </div>
          <div class="col-lg-4">
            <div class="row">
              <div
                class="col-lg-12 col-md-6 wow fadeInUp"
                data-wow-duration="2s"
                data-wow-delay="0.2s"
              >
                <div class="icon-bx-wraper left m-b50 icon-up">
                  <div
                    class="icon-bx-sm radius gradient-sec shadow-primary m-b20"
                  >
                    <a href="javascript:void(0);" class="icon-cell text-white"
                      ><i class="flaticon-coding"></i
                    ></a>
                  </div>
                  <div class="icon-content">
                    <h4 class="dlab-tilte text-capitalize">Development</h4>
                    <p>
                      Praesent tincidunt congue est ut hendrerit. Pellentesque
                      et eros sit amet ipsum venenatis.
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="col-lg-12 col-md-6 wow fadeInUp"
                data-wow-duration="2s"
                data-wow-delay="0.4s"
              >
                <div class="icon-bx-wraper left m-b50 icon-up">
                  <div
                    class="icon-bx-sm radius gradient-sec shadow-primary m-b20"
                  >
                    <a href="javascript:void(0);" class="icon-cell text-white"
                      ><i class="flaticon-rocket"></i
                    ></a>
                  </div>
                  <div class="icon-content">
                    <h4 class="dlab-tilte text-capitalize">
                      Testing & Lunching
                    </h4>
                    <p>
                      Praesent tincidunt congue est ut hendrerit. Pellentesque
                      et eros sit amet ipsum venenatis.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- <section
      class="content-inner"
      style="background-image: url(assets/images/main-slider/slider1/pic2.png)"
    >
      <div class="container">
        <div class="row align-items-center">
          <div
            class="col-lg-6 m-b30 wow fadeInRight"
            data-wow-duration="2s"
            data-wow-delay="0.4s"
          >
            <div class="section-head style-1 mb-4">
              <h6 class="sub-title bgl-primary m-b20 text-primary">
                Feature 2
              </h6>
              <h2 class="title">
                Live Streaming aka Live Interactions aka Live Analytics
              </h2>
            </div>
            <p>
              Why should a user fill the form or go back with a lot of
              unanswered queries ?
            </p>
            <ul class="list-check primary m-b30">
              <li>Suspendisse ullamcorper mollis orci in facilisis.</li>
              <li>Etiam orci magna, accumsan varius enim volutpat.</li>
              <li>
                Donec fringilla velit risus, in imperdiet turpis euismod quis.
              </li>
              <li>
                Aliquam pulvinar diam tempor erat pellentesque, accumsan mauri.
              </li>
            </ul>
            <a
              href="#contact"
              class="btn btn-link d-inline-flex align-items-center"
              ><i class="fa fa-angle-right m-r10"></i>Try degpeg CTAs</a
            >
          </div>
          <div
            class="col-lg-6 m-b30 wow fadeInLeft"
            data-wow-duration="2s"
            data-wow-delay="0.2s"
          >
            <div class="dz-media">
              <img src="assets/images/stats.png" class="move-1" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- <section class="content-inner">
      <div class="container">
        <div class="row align-items-center">
          <div
            class="col-lg-6 m-b30 wow fadeInLeft"
            data-wow-duration="2s"
            data-wow-delay="0.2s"
          >
            <div class="dz-media">
              <img src="assets/images/live.png" class="move-1" alt="" />
            </div>
          </div>
          <div
            class="col-lg-6 m-b30 wow fadeInRight"
            data-wow-duration="2s"
            data-wow-delay="0.4s"
          >
            <div class="section-head style-1 mb-4">
              <h6 class="sub-title bgl-primary m-b20 text-primary">
                Feature 3
              </h6>
              <h2 class="title">Publish Extensively, grow Universally.</h2>
            </div>
            <p>
              Broadcast content to any social media channels, OTT platforms
              etc., customize your stream, and add powerful call to action (
              CTAs ) to convert engagement.
            </p>
            <p class="m-b30">
              Over the performance of your videos with degpeg’s advanced
              analytics.
            </p>
            <a
              href="#contact"
              class="btn btn-link d-inline-flex align-items-center"
              ><i class="fa fa-angle-right m-r10"></i>Let's Talk</a
            >
          </div>
        </div>
      </div>
    </section> -->

    <!-- <section
      class="content-inner"
      style="background-image: url(assets/images/main-slider/slider1/pic3.png)"
    >
      <div class="container">
        <div class="row align-items-center">
          <div
            class="col-lg-6 m-b30 wow fadeInRight"
            data-wow-duration="2s"
            data-wow-delay="0.4s"
          >
            <div class="section-head style-1 mb-4">
              <h6 class="sub-title bgl-primary m-b20 text-primary">
                Feature 4
              </h6>
              <h2 class="title">Easy, effective collaborations.</h2>
            </div>
            <p>
              Browse through our broad spectrum of Content Creators. Create Live
              shows with your own prospects and ideologies.
            </p>
            <p class="m-b30">
              Check out our all-inclusive list of content Categories.
            </p>
            <a
              href="#contact"
              class="btn btn-link d-inline-flex align-items-center"
              ><i class="fa fa-angle-right m-r10"></i>Let's Talk</a
            >
          </div>
          <div
            class="col-lg-6 m-b30 wow fadeInLeft"
            data-wow-duration="2s"
            data-wow-delay="0.2s"
          >
            <div class="dz-media">
              <img src="assets/images/about/img2.png" class="move-1" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- <section class="content-inner-2">
      <div class="container">
        <div class="row align-items-center">
          <div
            class="col-xl-6 col-lg-7 wow fadeInLeft"
            data-wow-duration="2s"
            data-wow-delay="0.2s"
          >
            <div class="section-head style-1">
              <h6 class="sub-title bgl-primary m-b20 text-primary">
                E-Commerce
              </h6>
              <h2 class="title">
                Simplified Live Commerce In easy 3 steps with Degpeg
              </h2>
            </div>
            <div class="section-wraper-one">
              <div class="icon-bx-wraper style-2 left m-b30">
                <div class="icon-bx-md radius bg-white text-red">
                  <a href="javascript:void(0);" class="icon-cell">
                    <i class="flaticon-idea"></i>
                  </a>
                </div>
                <div class="icon-content">
                  <h4 class="dlab-title">Set up your show</h4>
                  <p>
                    Customize your visuals, audio, and graphics in Vimeo’s
                    backend so you’re ready to rock when it’s time to start live
                    video streaming.
                  </p>
                </div>
              </div>
              <div class="icon-bx-wraper style-2 left m-b30">
                <div class="icon-bx-md radius bg-white text-yellow">
                  <a href="javascript:void(0);" class="icon-cell">
                    <i class="flaticon-line-graph"></i>
                  </a>
                </div>
                <div class="icon-content">
                  <h4 class="dlab-title">Live Preview of broadcast</h4>
                  <p>
                    Test your setup in the preview screen right before you go
                    live. Make sure it all looks and sounds good before you
                    start streaming.
                  </p>
                </div>
              </div>
              <div class="icon-bx-wraper style-2 left m-b30">
                <div class="icon-bx-md radius bg-white text-green">
                  <a href="javascript:void(0);" class="icon-cell">
                    <i class="flaticon-rocket"></i>
                  </a>
                </div>
                <div class="icon-content">
                  <h4 class="dlab-title">Go Live with degpeg</h4>
                  <p>
                    Press “Go live” to broadcast your stream audience, wherever
                    they are. Monitor chat and Q&A in the Vimeo platform, too.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-xl-6 col-lg-5 wow fadeInRight"
            data-wow-duration="2s"
            data-wow-delay="0.4s"
          >
            <div class="dlab-media">
              <img src="assets/images/about/img5.png" class="move-2" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <section
      class="content-inner-2 bg-gray"
      style="background-image: url(assets/images/background/bg17.png)"
    >
      <div class="container">
        <div class="section-head style-1 text-center">
          <h6 class="sub-title bgl-primary m-b20 text-primary">
            Category For EVERYONE
          </h6>
          <h4>
            Whether you are a tech geek or musician, a backpacker or a fitness
            freak, there is content for every interest.
          </h4>
        </div>
        <div class="row">
          <div
            class="col-lg-12 col-md-6 wow fadeInUp text-center"
            data-wow-duration="2s"
            data-wow-delay="0.6s"
          >
            <img src="assets/images/about/img4.png" alt="images" />
          </div>
        </div>
      </div>
    </section>

    <section
      class="content-inner-2"
      style="background-image: url(assets/images/background/bg6.png)"
    >
      <div class="container">
        <div class="section-head style-1 text-center">
          <h6 class="sub-title bgl-primary m-b20 text-primary">MONETIZATION</h6>
          <h4>Make More Money with Built-In Monetization Features.</h4>
        </div>
        <div class="row">
          <div
            class="col-lg-12 col-md-6 wow fadeInUp text-center"
            data-wow-duration="2s"
            data-wow-delay="0.6s"
          >
            <img
              src="assets/images/about/img3.png"
              alt="images"
              style="height: 500px"
            />
          </div>
        </div>
        <div class="container mt-5">
          <div class="section-head style-1 text-center">
            <h6 class="sub-title bgl-primary m-b20 text-primary">
              View your Session analytics: Earnings, views, engagements and more
            </h6>
            <h2 class="title">Be a Brand Yourself</h2>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Us -->
    <section
      class="content-inner"
      style="background-image: url(assets/images/background/bg1.png)"
      id="contact"
    >
      <div class="container">
        <div class="row align-items-center">
          <div
            class="col-xl-6 col-lg-7 m-b30 wow fadeInLeft"
            data-wow-duration="2s"
            data-wow-delay="0.2s"
          >
            <div class="section-head style-1">
              <h6 class="sub-title bgl-primary m-b20 text-primary">
                Contact Us
              </h6>
              <h2 class="title">
                We Love To Help Great Companies To Enlarge Their Revenues.
              </h2>
            </div>
            <form class="dlab-form dzForm">
              <div class="dzFormMsg"></div>
              <input
                type="hidden"
                class="form-control"
                name="dzToDo"
                value="Contact"
              />
              <div class="row">
                <div class="col-sm-6">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="la la-user"></i
                      ></span>
                    </div>
                    <input
                      name="dzName"
                      type="text"
                      required
                      class="form-control"
                      placeholder="First Name"
                    />
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="la la-user"></i
                      ></span>
                    </div>
                    <input
                      name="dzOther[last_name]"
                      type="text"
                      class="form-control"
                      required
                      placeholder="Last Name"
                    />
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="la la-envelope"></i
                      ></span>
                    </div>
                    <input
                      name="dzEmail"
                      type="text"
                      required
                      class="form-control"
                      placeholder="Email Address"
                    />
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="la la-phone"></i
                      ></span>
                    </div>
                    <input
                      name="dzOther[phone]"
                      type="text"
                      required
                      class="form-control"
                      placeholder="Phone No."
                    />
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="la la-sms"></i
                      ></span>
                    </div>
                    <textarea
                      name="dzMessage"
                      required
                      class="form-control"
                      placeholder="Message"
                    ></textarea>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="input-group">
                    <div
                      class="g-recaptcha"
                      data-sitekey="6LefsVUUAAAAADBPsLZzsNnETChealv6PYGzv3ZN"
                      data-callback="verifyRecaptchaCallback"
                      data-expired-callback="expiredRecaptchaCallback"
                    ></div>
                    <input
                      class="form-control d-none"
                      style="display: none"
                      data-recaptcha="true"
                      required
                      data-error="Please complete the Captcha"
                    />
                  </div>
                </div>
                <div class="col-sm-12">
                  <button
                    name="submit"
                    type="submit"
                    value="Submit"
                    class="btn btn-link d-inline-flex align-items-center"
                  >
                    <i class="fa fa-angle-right m-r10"></i>Submit Now
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div
            class="col-xl-6 col-lg-5 m-b30 wow fadeInRight"
            data-wow-duration="2s"
            data-wow-delay="0.4s"
          >
            <div class="dlab-media cf-r-img">
              <img src="assets/images/about/img2.png" class="move-1" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <footer
    class="site-footer style-2"
    id="footer"
    style="background-image: url(assets/images/background/bg4.png)"
  >
    <div class="container">
      <div
        class="dlab-subscribe style-1 wow fadeInUp"
        data-wow-duration="2s"
        data-wow-delay="0.2s"
      >
        <div class="row align-items-center">
          <div class="col-lg-7">
            <h2 class="title">Subscribe To Our Newsletter For Latest Update</h2>
          </div>
          <div class="col-lg-5">
            <form class="dzSubscribe">
              <div class="dzSubscribeMsg"></div>
              <div class="form-group">
                <div class="input-group">
                  <input
                    name="dzEmail"
                    required="required"
                    type="email"
                    class="form-control"
                    placeholder="Your Email Address"
                  />
                  <div class="input-group-addon">
                    <button
                      name="submit"
                      value="Submit"
                      type="submit"
                      class="btn btn-primary gradient fa fa-paper-plane-o"
                    ></button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div
            class="col-xl-4 col-lg-4 col-sm-6 wow fadeIn"
            data-wow-duration="2s"
            data-wow-delay="0.2s"
          >
            <div class="widget widget_about">
              <div class="footer-logo">
                <a href="index.html"
                  ><img
                    src="assets/images/logo.png"
                    alt="logo"
                    style="height: 60px"
                /></a>
              </div>
              <!-- <div class="widget widget_getintuch">
                <ul>
                  <li>
                    <i class="fa fa-phone gradient"></i>
                    <span>+91 123-456-7890<br />+91 987-654-3210</span>
                  </li>
                  <li>
                    <i class="fa fa-envelope gradient"></i>
                    <span>info@example.com <br />info@example.com</span>
                  </li>
                  <li>
                    <i class="fa fa-map-marker gradient"></i>
                    <span>Marmora Road Chi Minh City, Delhi</span>
                  </li>
                </ul>
              </div> -->
            </div>
          </div>
          <div
            class="col-xl-4 col-lg-2 col-sm-6 wow fadeIn"
            data-wow-duration="2s"
            data-wow-delay="0.4s"
          >
            <div class="widget widget_services">
              <h5 class="footer-title text-white">Our links</h5>
              <ul>
                <li>
                  <a href="javascript:void(0);">Main Website</a>
                </li>
                <!-- <li><a href="javascript:void(0);">About Us</a></li>
                <li><a href="javascript:void(0);">Services</a></li>
                <li><a href="javascript:void(0);">Team</a></li>
                <li><a href="javascript:void(0);">Blog</a></li> -->
              </ul>
            </div>
          </div>
          <div
            class="col-xl-4 col-lg-3 col-sm-6 wow fadeIn"
            data-wow-duration="2s"
            data-wow-delay="0.8s"
          >
            <div class="widget widget_services">
              <h5 class="footer-title text-white">Privacy Policy</h5>
              <ul>
                <li><a href="javascript:void(0);">Privacy Policy</a></li>
                <!-- <li><a href="javascript:void(0);">Portfolio</a></li>
                <li><a href="javascript:void(0);">Privacy Policy</a></li>
                <li>
                  <a href="javascript:void(0);">Terms & Conditions</a>
                </li>
                <li><a href="javascript:void(0);">Support </a></li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer bottom part -->
    <div class="footer-bottom">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-7 text-left">
            <span class="copyright-text"
              >Copyright © 2021 <a href="#" target="_blank">Degpeg</a>. All
              rights reserved.</span
            >
          </div>
          <div class="col-lg-6 col-md-5 text-right">
            <div class="dlab-social-icon">
              <ul>
                <li>
                  <a class="fa fa-facebook" href="javascript:void(0);"></a>
                </li>
                <li>
                  <a class="fa fa-instagram" href="javascript:void(0);"></a>
                </li>
                <li>
                  <a class="fa fa-twitter" href="javascript:void(0);"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
